* {
//-fx-background-color:      linear-gradient(to bottom, #9cecfb, #90e5fa, #85dff9, #7ad8f9, #70d1f8, #58c5f7, #3fb9f6, #23adf4, #0098f0, #0082eb, #006be1, #0052d4);

    -fx-background-insets: 0,1,2;
    -fx-background-radius: 3,2,1;
}

.price_tag {
  -fx-background-color: rgb(121, 98, 184);
  -fx-background-radius:5;
  -fx-font-size:16px;
  -fx-font-weight:800;
}